* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}
body{
	background: #eedbcd;
}
.nav{
	width: 1200px;
	margin: 0 auto;
}
.header{
	background: #ebe2d0;
	width: 1200px;
	height: 50px;
	/*border: 1px solid red;*/
}
.header ul{
	float: right;
	line-height: 50px;
}
.header li a{
	margin: 0 10px;
}
.header li a:hover{
	color: red;
	padding: 5px 10px;
	background: bisque;
}
.cont{
	width: 1200px;
	height: 300px;
	background: #987068;
	/*border: 1px solid red;*/
}
.box{
	height: 240px;
	position: relative;
	/*border: 1px solid red;*/
}
.box img{
	height: 240px;
	width: 1200px;
}

.lunbo li{
	position: absolute;
	top: 0;
	left: 0;
	/*display: none;*/
}







.pot{
	text-align: center;
}
.pot ul{
	margin-top: 20px;
	
}
.pot ul li a{
	margin:  0 10px;
	color: #a87971s;

}
.pot ul li a:hover{
	color: red;
	
	padding: 5px 0px 5px;
	background:#f0e8dd ;
}
.mod{
	height: 600px;
	margin-top: 5px;
	background: #f5eee6;
	/*border: 1px solid red;*/
}
.bot{
	width: 260px;
	height: 600px;
	float: left;
	/*border: 1px solid red;*/
}
.bot span{
	display: inline-block;
margin-left: 15px;
margin-top: 20px;
}
.hh1{
	width: 240px;
	margin-left: 10px;
	margin-top: 5px;
	height: 200px;
	border-top: 1px solid black;
}
.hh1 p{
	margin: 10px;
	/*color: gainsboro;*/
	font-size:15px;
}
.touxiang{
	width: 60px;
	float: left;
	height: 60px;
	margin-top: 10px;
	/*border: 1px solid red;*/
}
.touxiang img{
	width: 60px;
	height: 60px;
}

.hh1 ul{
	font-size: 14px;
	
}
.hh1 .nele{
	margin-top:15px ;
	margin-left:80px;
}







.bvc{
	margin-top: 200px;
}

.bnt{
	width:930px;
	height: 600px;
	float: right;
	/*border: 1px solid red;*/
}
.bnt span{
	display: inline-block;
	margin-top: 20px;
	margin-left: 30px;
}
.hh2{
	width: 908px;
	margin-top: 6px;
	margin-left: 20px;
	background: #573631;
	height: 550px;
	border: 1px solid #573631;
}
 .hh2 .work{
	width: 220px;
	height: 550px;
	float: left;
	margin-right:5px ;
	/*border: 1px solid red;*/
}
.meik li{
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 30px;
	width: 100px;
	/*border: 1px solid red;*/
}
.hong li{
	margin-top: 5px;
	margin-left: 10px;

	/*border: 1px solid red;*/
}
.hong li a:hover{
	color: red;
}
/*.hh2 .woke li{
	height: 30px;
	margin-left: 20px;
	margin-top:10px ;
}
.hh2 li a{
	font-weight: bold;
	color: #a87971s;
}
.hh2 li a:hover{
     color:red;
  padding: 5px;
	background: #f6efe5;
}
.hh2 .woke li{
	float: left;
	margin: 10px 50px;
}
.meik li{
	margin: 0;
}*/
